@font-face {
  font-family: 'Calistoga';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Calistoga Regular'), local('Calistoga-Regular'), url(https://fonts.gstatic.com/s/calistoga/v1/6NUU8F2OJg6MeR7l4e0fs8wE.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'sans-serif';
}
a {
  color: #f2f2f2;
  text-decoration: none;
}
body {
  margin: 0;
}
/* width */
::-webkit-scrollbar {
  width: 1.2rem;
}
/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 1, 1, 0);
}
/* Handle */
::-webkit-scrollbar-thumb {
  border: 1px solid #999999;
  border-radius: 0.5rem;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999999;
}
.header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.footer {
  display: flex;
  flex-flow: row-reverse;
  width: 100%;
  color: #f2f2f2;
}
.footer h5 {
  padding: 0.5rem;
}
.header,
.footer {
  background: rgba(0, 1, 1, 0.6);
  padding: 1rem;
  opacity: 77%;
}
.footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  overflow: hidden;
}
body {
  background-image: url("../images/becca-romine-Lll4QeybDEg-unsplash.jpg");
  display: flex;
  flex-direction: column;
}
.oc {
  src: url("../images/octocat.png");
  width: 16px;
  height: 16px;
}
@media (min-width: 375px) {
  .oc {
    width: 32px;
    height: 32px;
  }
}
.body-content {
  opacity: 100%;
  padding: 2rem;
  color: #f2f2f2;
  position: absolute;
  overflow-y: auto;
  top: 11%;
  bottom: 2%;
  left: 2%;
  right: 2%;
  background-color: rgba(0, 1, 1, 0.6);
  border-radius: 1rem;
  scrollbar-color: #000101;
}
.body-content h1 {
  padding: 1.5rem;
}
@media (min-width: 375px) {
  .body-content {
    font-size: 1.4rem;
    line-height: 1.6rem;
    padding: 1rem 0;
  }
}
@media (min-width: 768px) {
  .body-content {
    font-size: 1.6rem;
    line-height: 1.8rem;
  }
}
.body-content p {
  padding: 1.5rem;
}
h1 {
  font-size: 2rem;
  color: #f2f2f2;
}
h2 {
  color: #f2f2f2;
}
p {
  padding: 1rem 0;
}
@media (min-width: 375px) {
  p {
    font-size: 1.4rem;
    line-height: 1.6rem;
    padding: 1rem 0;
  }
}
@media (min-width: 768px) {
  p {
    font-size: 1.6rem;
    line-height: 1.8rem;
  }
}
a {
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  padding-left: 1.5rem;
}
