.header,.footer {
    background: darkslategrey;
    padding: 2rem;
}

.footer {
    bottom: 0;
    position: absolute;
    width: 100%;
}

body {
    background-image: @background-img;
}

.body-content {
    padding: 2rem;
    color: #f2f2f2;
    position: absolute;
    overflow-y:auto;
    top: 5rem;
    bottom: 5rem;
    width: 95%;
    margin: 2%;
    background-color: rgba(.3, .6, .9, 0.6);
    border-radius: 1rem;
    scrollbar-color: rgba(.3, .6, .9, 1);
}   

h1 {
    font-size: 2.4rem;
    padding: 1rem 0;
}

p {
    font-size: 1.6rem;
    line-height: 1.8rem;
    padding: 1rem 0;
}

a {
    font-size: 1.2rem;
    letter-spacing: .2rem;
}