@import url('https://fonts.googleapis.com/css?family=Calistoga&display=swap');

// @font-fam: 'Calistoga', cursive;
@font-family: 'sans-serif';
@background-img: url("../images/becca-romine-Lll4QeybDEg-unsplash.jpg");


// pallette
@white: #f2f2f2;
@grey: #999999;