@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
//sans: ;

@font-sans: 'Montserrat', sans-serif;
@font-mono: 'Fira Code', monospace;


@background-img: url("../images/becca-romine-Lll4QeybDEg-unsplash.jpg");

// pallette
@white: #f2f2f2;
@grey: #999999;
@dark-glass: rgba(.3, .6, .9, 0.6);
@dark: rgba(.3, .6, .9, 1);
@transparent: rgba(0, 0, 0, 0);

// images
@octocat: url("../images/octocat.png");

// breaks
@iphonex: ~'(min-width: 375px)';
@ipad: ~'(min-width: 768px)';

//audio
@sound-coin: url("../audio/coin01.wav");
@sound-jump: url("../audio/jump01.wav");
@sound-key: url("../audio/key01.wav");
@sound-select-a: url("../audio/select.wav");
@sound-select-b: url("../audio/select02.wav");
