<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
    {% if title %}
        <title>#!/𝝺/{{user.username}}/{{ title }}</title>
    {% else %}
        <title>#!/𝝺/welcome</title>
    {% endif %}
</head>
<body onload="run();">
    <div class="header">
        <img class="oc" src="{{ url_for('static', filename='images/octocat.png') }}" />
        <nav id="nav-bar"></nav>
    </div>    
    <div class="body-content">
        {% block content %}{% endblock %}
    </div>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
</html>