{% extends "base.html" %}

{% block content %}
    <section class="profile-head">
        <img src="{{ user.avatar() }}" width="96px">
        <div class="profile-neck">
            <h1>{{ user.username }}</h1>
            {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
            {% if user.last_seen %}<p>Last seen on: {{ moment(user.last_seen).format('LLL') }}</p>{% endif %}
            <p>{{ user.followers.count() }} followers, {{ user.followed.count() }} following</p>
            {% if user == current_user %}
            <a href="{{ url_for('edit_profile') }}">Edit your profile</a>
            {% elif not current_user.is_following(user) %}
            <a href="{{ url_for('follow', username=user.username) }}">Follow</a>
            {% else %}
            <a href="{{ url_for('unfollow', username=user.username) }}">Unfollow</a>
            {% endif %}
        </div>
    </section>
    <hr>
    {% for post in posts %}
        {% include "_post.html" %}
    {% endfor %}
    {% if prev_url or next_url %}
    <div id="paginator">
        {% if prev_url %}
        <a href="{{ prev_url }}">← newer</a>
        {% endif %}
        {% if next_url %}
        <a href="{{ next_url }}">older →</a>
        {% endif %}
    </div>
    {% endif %}
    {% endblock %}