
{% block content %}
    <section class="user-about">
        <img src="{{ user.avatar() }}" width="96px">
        <div class="profile-neck">
            <h1>{{ user.username }}</h1>
            {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
            {% if user.last_seen %}<p>Last seen on: {{ moment(user.last_seen).format('LLL') }}</p>{% endif %}
            <p>{{ user.followers.count() }} followers, {{ user.followed.count() }} following</p>
            {% if user == current_user %}
                {% if not current_user.is_following(user) %}
                    <a href="{{ url_for('main.follow', username=user.username) }}">Follow</a>
                {% else %}
                    <a href="{{ url_for('main.unfollow', username=user.username) }}">Unfollow</a>
                {% endif %}
            {% endif %}
        </div>
    </section>
    {% endblock %}